@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #d87a7a;
}

.wrapper {
  max-width: 650px;
  height: 800px;
  font-family: "Permanent Marker";
  font-size: 18px;
  border: 2px dashed rgb(232, 232, 123);
  margin: 50px auto;
  padding: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
}

.event {
  margin: 0 150px 0 0;
}
.event__time {
  padding-top: 10px;
}

.special-guest {
  max-width: 180px;
  text-align: center;
  line-height: 20px;
}

.skulls-animation {
  background-image: url("../img/animation/skull.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.skulls-animation__top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}
.skulls-animation__bottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 20px 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.band__logo {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px 0 0 0;
}
.band__logo_c {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.band__name {
  font-family: "Fascinate";
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.band__description {
  text-align: justify;
  max-width: 170px;
}

.poster {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 30px;
  border: 3px solid rgb(171, 0, 0);
}

.more-info {
  padding: 20px 0 0 0;
}
.more-info__concert-details {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}
.more-info__concert-details span {
  font-weight: 700;
  color: rgb(2, 6, 255);
}
.more-info__pre-order-button {
  margin: 0 auto;
  width: 100%;
  display: block;
}
.more-info__footer {
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  display: block;
}